postgresql://vendor:k_wEbjoSUNNXFzdjxdzxTg@materialserver-3163.j77.aws-ap-southeast-1.cockroachlabs.cloud:26257/material?sslmode=verify-full

User: vendor

Password: k_wEbjoSUNNXFzdjxdzxTg

Host: materialserver-3163.j77.aws-ap-southeast-1.cockroachlabs.cloud

Port: 26257

DB: material

ARIMA MODEL

#Setup

In [1]:
#pip install SQLAlchemy pandas psycopg2

In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text

conn = psycopg2.connect(
    host="materialserver-3163.j77.aws-ap-southeast-1.cockroachlabs.cloud",
    port="26257",
    database="material",
    user="vendor",
    password="k_wEbjoSUNNXFzdjxdzxTg"
    )

In [3]:
query = """
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public';
"""

with conn.cursor() as cur:
    cur.execute(query)
    tables = cur.fetchall()
    print("Tables in the database:")
    for table in tables:
        print(table[0])
        query = f""" SELECT * FROM {table[0]} """
        cur.execute(query)
        data = cur.fetchall()
        colnames = [desc[0] for desc in cur.description]
        df = pd.DataFrame(data, columns=colnames)
        print(df.columns)

Tables in the database:
billofmaterials
Index(['BillOfMaterialsID', 'ProductAssemblyID', 'ComponentID', 'StartDate',
       'EndDate', 'UnitMeasureCode', 'BOMLevel', 'PerAssemblyQty',
       'ModifiedDate'],
      dtype='object')
product
Index(['ProductID', 'Name', 'ProductNumber', 'MakeFlag', 'FinishedGoodsFlag',
       'Color', 'SafetyStockLevel', 'ReorderPoint', 'StandardCost',
       'ListPrice', 'Size', 'SizeUnitMeasureCode', 'WeightUnitMeasureCode',
       'Weight', 'DaysToManufacture', 'ProductLine', 'Class', 'Style',
       'ProductSubcategoryID', 'ProductModelID', 'SellStartDate',
       'SellEndDate', 'DiscontinuedDate', 'rowguid', 'ModifiedDate'],
      dtype='object')
productsubcategory
Index(['ProductSubcategoryID', 'ProductCategoryID', 'Name', 'rowguid',
       'ModifiedDate'],
      dtype='object')
productcategory
Index(['ProductCategoryID', 'Name', 'rowguid', 'ModifiedDate'], dtype='object')
productvendor
Index(['ProductID', 'BusinessEntityID', 'AverageLeadTime', 'StandardPrice',
       'LastReceiptCost', 'LastReceiptDate', 'MinOrderQty', 'MaxOrderQty',
       'OnOrderQty', 'UnitMeasureCode', 'ModifiedDate'],
      dtype='object')
purchaseorderdetail
Index(['PurchaseOrderID', 'PurchaseOrderDetailID', 'DueDate', 'OrderQty',
       'ProductID', 'UnitPrice', 'LineTotal', 'ReceivedQty', 'RejectedQty',
       'StockedQty', 'ModifiedDate'],
      dtype='object')
purchaseorderheader
Index(['PurchaseOrderID', 'RevisionNumber', 'Status', 'EmployeeID', 'VendorID',
       'ShipMethodID', 'OrderDate', 'ShipDate', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'ModifiedDate'],
      dtype='object')
salesorderheader
Index(['SalesOrderID', 'RevisionNumber', 'OrderDate', 'DueDate', 'ShipDate',
       'Status', 'OnlineOrderFlag', 'SalesOrderNumber', 'PurchaseOrderNumber',
       'AccountNumber', 'CustomerID', 'SalesPersonID', 'TerritoryID',
       'BillToAddressID', 'ShipToAddressID', 'ShipMethodID', 'CreditCardID',
       'CreditCardApprovalCode', 'CurrencyRateID', 'SubTotal', 'TaxAmt',
       'Freight', 'TotalDue', 'Comment', 'rowguid', 'ModifiedDate'],
      dtype='object')
saleorderdetail
Index(['orderid', 'lineid', 'productcode', 'quantity', 'price', 'discount',
       'totalamount', 'status', 'extendedamount', 'uniqueidentifier',
       'orderdate'],
      dtype='object')
vendor
Index(['BusinessEntityID', 'AccountNumber', 'Name', 'CreditRating',
       'PreferredVendorStatus', 'ActiveFlag', 'PurchasingWebServiceURL',
       'ModifiedDate'],
      dtype='object')
unitmeasure
Index(['UnitMeasureCode', 'Name', 'ModifiedDate'], dtype='object')
materialhierachy
Index(['ProductAssemblyID', 'ComponentID', 'ComponentName', 'TotalQuantity',
       'StandardCost', 'ListPrice', 'BOMLevel', 'RecursionLevel'],
      dtype='object')

In [9]:

query1 = "SELECT * FROM salesorderheader"
query2 = "SELECT * FROM saleorderdetail"

with conn.cursor() as cur:
    cur.execute(query1)
    data = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]
    df_soh = pd.DataFrame(data, columns=colnames)

with conn.cursor() as cur:
    cur.execute(query2)
    data = cur.fetchall()
    colnames = [desc[0] for desc in cur.description]
    df_sod = pd.DataFrame(data, columns=colnames)

In [11]:
print(df_soh.head())

   SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0         43659               8 2011-05-31 2011-06-12 2011-06-07       5
1         43660               8 2011-05-31 2011-06-12 2011-06-07       5
2         43661               8 2011-05-31 2011-06-12 2011-06-07       5
3         43662               8 2011-05-31 2011-06-12 2011-06-07       5
4         43663               8 2011-05-31 2011-06-12 2011-06-07       5

   OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  ...  \
0                0          SO43659         PO522145787  10-4020-000676  ...
1                0          SO43660       PO18850127500  10-4020-000117  ...
2                0          SO43661       PO18473189620  10-4020-000442  ...
3                0          SO43662       PO18444174044  10-4020-000227  ...
4                0          SO43663       PO18009186470  10-4020-000510  ...

   CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0       16281.0           105041Vi84182             NaN  20565.6210
1        5618.0           115213Vi29411             NaN   1294.2529
2        1346.0             85274Vi6854             4.0  32726.4790
3       10456.0           125295Vi53935             4.0  28832.5300
4        4322.0            45303Vi22691             NaN    419.4589

      TaxAmt   Freight    TotalDue Comment  \
0  1971.5149  616.0984  23153.2340    None
1   124.2483   38.8276   1457.3289    None
2  3153.7695  985.5530  36865.8000    None
3  2775.1646  867.2389  32474.9320    None
4    40.2681   12.5838    472.3108    None

                                  rowguid  ModifiedDate
0  {79B65321-39CA-4115-9CBA-8FE0903E12E6}    2011-06-07
1  {738DC42D-D03B-48A1-9822-F95A67EA7389}    2011-06-07
2  {D91B9131-18A4-4A11-BC3A-90B6F53E9D74}    2011-06-07
3  {4A1ECFC0-CC3A-4740-B028-1C50BB48711C}    2011-06-07
4  {9B1E7A40-6AE0-4AD3-811C-A64951857C4B}    2011-06-07

[5 rows x 26 columns]

In [14]:
print(df_sod.head())

   orderid  lineid   productcode  quantity  price  discount totalamount  \
0    75123  121317          None       1.0    712         1       8.990
1    43659       1  4911-403C-98       1.0    776         1    2024.994
2    43659       2  4911-403C-98       3.0    777         1    2024.994
3    43659       3  4911-403C-98       1.0    778         1    2024.994
4    43659       4  4911-403C-98       1.0    771         1    2039.994

   status extendedamount                        uniqueidentifier  orderdate
0       0       8.990000  {73646D26-0461-450D-8019-2C6C858619CA} 2014-06-30
1       0    2024.994000  {B207C96D-D9E6-402B-8470-2CC176C42283} 2011-05-31
2       0    6074.982000  {7ABB600D-1E77-41BE-9FE5-B9142CFC08FA} 2011-05-31
3       0    2024.994000  {475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F} 2011-05-31
4       0    2039.994000  {04C4DE91-5815-45D6-8670-F462719FBCE3} 2011-05-31

#Data Pre-processing

#Model execution

In [4]:
#Final step
conn.close