In [1]:
import psycopg2
import pandas as pd

In [2]:
host = 'materialserver-3163.j77.aws-ap-southeast-1.cockroachlabs.cloud'
port = '26257'
dbname = 'material'
user = 'vendor'
password = 'k_wEbjoSUNNXFzdjxdzxTg'

conn = psycopg2.connect(
    host=host,
    port=port,
    database=dbname,
    user=user,
    password=password
)

In [3]:
material = pd.read_sql('SELECT * FROM materialhierarchy', conn)
material

C:\Users\Admin\AppData\Local\Temp\ipykernel_17184\2526059148.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  material = pd.read_sql('SELECT * FROM materialhierarchy', conn)

      ProductAssemblyID  ComponentID  TotalQuantity  BOMLevel  RecursionLevel
0                     3            2           10.0         3               0
1                     3          504            2.0         3               0
2                     3          461            1.0         3               2
3                     3          505            2.0         3               2
4                   316          486            1.0         4               0
...                 ...          ...            ...       ...             ...
2378                999          945            1.0         1               0
2379                999          948            1.0         1               0
2380                999          949            1.0         1               0
2381                999          952            1.0         1               0
2382                999          994            1.0         1               0

[2383 rows x 5 columns]

In [4]:
productlist = pd.read_sql('SELECT * FROM product_refined', conn)
productlist

C:\Users\Admin\AppData\Local\Temp\ipykernel_17184\197886545.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productlist = pd.read_sql('SELECT * FROM product_refined', conn)

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate,Group,GroupStandardCost
0,1,Adjustable Race,AR-5381,False,False,,1000,750,50.263409,0,...,,,,2008-04-30 00:00:00,,,{694215B7-08F7-4C0D-ACB1-D734BA44C0C8},2014-02-08 10:01:36.827000000,Adjustable Race,50.263409
1,2,Bearing Ball,BA-8327,False,False,,1000,750,41.916000,0,...,,,,2008-04-30 00:00:00,,,{58AE3C20-4F3A-4749-A7D4-D568806CC537},2014-02-08 10:01:36.827000000,Bearing Ball,41.916000
2,3,BB Ball Bearing,BE-2349,True,False,,800,600,0.000000,0,...,,,,2008-04-30 00:00:00,,,{9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E},2014-02-08 10:01:36.827000000,BB Ball Bearing,0.000000
3,4,Headset Ball Bearings,BE-2908,False,False,,800,600,57.025500,0,...,,,,2008-04-30 00:00:00,,,{ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B},2014-02-08 10:01:36.827000000,Headset Ball Bearings,57.025500
4,316,Blade,BL-2036,True,False,,800,600,0.000000,0,...,,,,2008-04-30 00:00:00,,,{E73E9750-603B-4131-89F5-3DD15ED5FF80},2014-02-08 10:01:36.827000000,Blade,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,True,True,,500,375,44.000000,101,...,,5,96,2013-05-30 00:00:00,,,{71AB847F-D091-42D6-B735-7B0C2D82FC84},2014-02-08 10:01:36.827000000,ML Bottom Bracket,44.000000
500,996,HL Bottom Bracket,BB-9108,True,True,,500,375,53.000000,121,...,,5,97,2013-05-30 00:00:00,,,{230C47C5-08B2-4CE3-B706-69C0BDD62965},2014-02-08 10:01:36.827000000,HL Bottom Bracket,53.000000
501,997,"Road-750 Black, 44",BK-R19B-44,True,True,Black,100,75,343.000000,539,...,U,2,31,2013-05-30 00:00:00,,,{44CE4802-409F-43AB-9B27-CA53421805BE},2014-02-08 10:01:36.827000000,Road-750,343.000000
502,998,"Road-750 Black, 48",BK-R19B-48,True,True,Black,100,75,343.000000,539,...,U,2,31,2013-05-30 00:00:00,,,{3DE9A212-1D49-40B6-B10A-F564D981DBDE},2014-02-08 10:01:36.827000000,Road-750,343.000000
503,999,"Road-750 Black, 52",BK-R19B-52,True,True,Black,100,75,343.000000,539,...,U,2,31,2013-05-30 00:00:00,,,{AE638923-2B67-4679-B90E-ABBAB17DCA31},2014-02-08 10:01:36.827000000,Road-750,343.000000

In [5]:
# def calculate_leaf_component_quantities(df, product_id, initial_quantity):
#     result = []

#     def recurse(current_id, current_quantity, current_level):
#         components = df[df["ProductAssemblyID"] == current_id]
        
#         if components.empty:
#             result.append({
#                 "ComponentID": current_id,
#                 "TotalQuantity": current_quantity,
#                 "Level": current_level
#             })
#             return
        
#         for _, row in components.iterrows():
#             component_id = row["ComponentID"]
#             total_quantity = current_quantity * row["TotalQuantity"]
#             recurse(component_id, total_quantity, current_level + 1)

#     recurse(product_id, initial_quantity, 0)

#     result_df = pd.DataFrame(result)

#     return result_df

In [ ]:
def calculate_component_quantities_finished(df, product_df, product_id, initial_quantity):
    result = []

    def recurse(current_id, current_quantity, current_level):
        components = df[df["ProductAssemblyID"] == current_id]
        
        for _, row in components.iterrows():
            parent_id = row["ProductAssemblyID"]
            component_id = row["ComponentID"]
            total_quantity = current_quantity * row["TotalQuantity"]           
            is_finished_good = product_df.loc[product_df["ProductID"] == component_id, "FinishedGoodsFlag"].values[0]
            cost = product_df.loc[product_df["ProductID"] == component_id, "StandardCost"] * total_quantity
            
            result.append({
                "ParentID": parent_id,
                "ComponentID": component_id,
                "TotalQuantity": total_quantity,
                "Level": current_level + 1,
                "IsComponentFinished": bool(is_finished_good),
                "Cost": cost
            })
            
            recurse(component_id, total_quantity, current_level + 1)

    recurse(product_id, initial_quantity, 0)

    result_df = pd.DataFrame(result)

    return result_df

In [7]:
materialhierarchy = pd.DataFrame(material)
product = pd.DataFrame(productlist)

input_product_id = 764
input_quantity = 10

result_df = calculate_component_quantities_finished(materialhierarchy, product, input_product_id, input_quantity)

print(result_df)

    ParentID  ComponentID  TotalQuantity  Level  IsComponentFinished
0      764.0        517.0           10.0      1                False
1      517.0        497.0           40.0      2                False
2      517.0        530.0           10.0      2                False
3      517.0        528.0           10.0      2                False
4      517.0        911.0           10.0      2                 True
..       ...          ...            ...    ...                  ...
84       3.0          2.0         1000.0      3                False
85       3.0        504.0          200.0      3                False
86       3.0        461.0          100.0      3                False
87       3.0        505.0          200.0      3                False
88     994.0        525.0           10.0      2                False

[89 rows x 5 columns]